#!/usr/bin/env bash

# pick up any .envrc from the containing/parent "workspace":
source_up_if_exists

# (non-sensitive) project environment variables:
export REPO="$(expand_path .)"

# secret/private[^1] ENV should be managed within `.local/envrc`:
source_env_if_exists .local/envrc

# ENV that must be set (per above) for things to work:
# env_vars_required EXAMPLE_SECRET

# ergonomics: make stuff in `bin` available from anywhere in the project:
PATH_add bin

# ---
# [^1]: where "private" could be personal customization via overrides.
